body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    display: flex;
    justify-content: space-around;
    margin:20px;
    border: 2px solid blue;
    padding: 50px;
    width: auto;
    background: blueviolet;
    border-bottom: 5px solid rgb(6, 6, 7);

}
.img {
    width: 200px;
}
.tex{
   text-align: center;
}